<mat-card class="cardWithShadow theme-card">
  <div class="p-6">
    <mat-card-title class="mb-0">Listas</mat-card-title>
  </div>
  <mat-card-content class="border-t border-border">
    <div class="grid grid-cols-12 gap-6">
      <div class="col-span-12 lg:col-span-6">
        <!-- --------------------------------------------------- -->
        <!-- basic -->
        <!-- --------------------------------------------------- -->
        <mat-card class="border! border-border! shadow-none mb-0!">
          <div class="p-4">
            <mat-card-title>Básico</mat-card-title>
          </div>
          <mat-card-content class="border-t border-border">
            <mat-list role="list">
              <mat-list-item role="listitem">Elemento 1</mat-list-item>
              <mat-list-item role="listitem">Elemento 2</mat-list-item>
              <mat-list-item role="listitem">Elemento 3</mat-list-item>
            </mat-list>
          </mat-card-content>
        </mat-card>
      </div>

      <div class="col-span-12 lg:col-span-6">
        <!-- --------------------------------------------------- -->
        <!-- two line -->
        <!-- --------------------------------------------------- -->
        <mat-card class="border! border-border! shadow-none mb-0!">
          <div class="p-4">
            <mat-card-title>Dos Líneas</mat-card-title>
          </div>
          <mat-card-content class="border-t border-border">
            <mat-list>
              <mat-list-item>
                <span matListItemTitle class="text-base font-semibold">Título</span>
                <span matListItemLine>Segunda línea</span>
              </mat-list-item>
              <mat-list-item>
                <span matListItemTitle class="text-base font-semibold">Título</span>
                <span matListItemLine>Segunda línea</span>
              </mat-list-item>
            </mat-list>
          </mat-card-content>
        </mat-card>
      </div>

      <div class="col-span-12 lg:col-span-6">
        <!-- --------------------------------------------------- -->
        <!-- two line -->
        <!-- --------------------------------------------------- -->
        <mat-card class="border! border-border! shadow-none mb-0!">
          <div class="p-4">
            <mat-card-title>Tres Líneas</mat-card-title>
          </div>
          <mat-card-content class="border-t border-border">
            <mat-list>
              <mat-list-item>
                <span matListItemTitle class="text-base font-semibold">Título</span>
                <span matListItemLine>Segunda línea</span>
                <span matListItemLine>Tercera línea</span>
              </mat-list-item>
              <mat-list-item>
                <span matListItemTitle class="text-base font-semibold">Título</span>
                <span matListItemLine>Segunda línea. Esta línea se truncará.</span>
                <span>Tercera línea</span>
              </mat-list-item>
            </mat-list>
          </mat-card-content>
        </mat-card>
      </div>

      <div class="col-span-12 lg:col-span-6">
        <!-- --------------------------------------------------- -->
        <!-- two line -->
        <!-- --------------------------------------------------- -->
        <mat-card class="border! border-border! shadow-none mb-0!">
          <div class="p-4">
            <mat-card-title>Tres Líneas con ajuste de texto</mat-card-title>
          </div>
          <mat-card-content class="border-t border-border">
            <mat-list style="max-width: 500px">
              <mat-list-item lines="3">
                <span matListItemTitle class="text-base font-semibold">Título</span>
                <span>Línea secundaria que se ajustará porque la lista tiene
                  explícitamente 3 líneas. El texto dentro de `matListItemTitle`
                  o `matListItemLine` nunca se ajustará.
                </span>
              </mat-list-item>
              <mat-list-item lines="3">
                <span matListItemTitle class="text-base font-semibold">Título</span>
                <span>Línea secundaria que se ajustará porque la lista tiene
                  explícitamente 3 líneas. El texto dentro de `matListItemTitle`
                  o `matListItemLine` nunca se ajustará.
                </span>
              </mat-list-item>
            </mat-list>
          </mat-card-content>
        </mat-card>
      </div>

      <div class="col-span-12 lg:col-span-6">
        <!-- --------------------------------------------------- -->
        <!-- List with Selection -->
        <!-- --------------------------------------------------- -->
        <mat-card class="border! border-border! shadow-none mb-0!">
          <div class="p-4">
            <mat-card-title>Lista con Selección</mat-card-title>
          </div>
          <mat-card-content class="border-t border-border">
            <mat-selection-list #shoes>
              @for(shoe of typesOfShoes; track shoe) {
              <mat-list-option>
                {{ shoe }}
              </mat-list-option>
              }
            </mat-selection-list>

            <p class="font-semibold p-4 bg-light-primary rounded">
              Opciones seleccionadas: {{ shoes.selectedOptions.selected.length }}
            </p>
          </mat-card-content>
        </mat-card>
      </div>

      <div class="col-span-12 lg:col-span-6">
        <!-- --------------------------------------------------- -->
        <!-- List with single Selection -->
        <!-- --------------------------------------------------- -->
        <mat-card class="border! border-border! shadow-none mb-0!">
          <div class="p-4">
            <mat-card-title>Lista con selección única</mat-card-title>
          </div>
          <mat-card-content class="border-t border-border">
            <mat-selection-list #shoes2 [multiple]="false">
              @for(shoe of typesOfShoes; track shoe) {
              <mat-list-option [value]="shoe">
                {{ shoe }}
              </mat-list-option>
              }
            </mat-selection-list>

            <p class="font-semibold p-4 bg-light-primary rounded">
              Opción seleccionada:
              {{
              shoes2.selectedOptions.hasValue()
              ? shoes2.selectedOptions.selected[0].value
              : "Ninguna"
              }}
            </p>
          </mat-card-content>
        </mat-card>
      </div>

      <div class="col-span-12">
        <!-- --------------------------------------------------- -->
        <!-- List with sections -->
        <!-- --------------------------------------------------- -->
        <mat-card class="border! border-border! shadow-none mb-0!">
          <div class="p-4">
            <mat-card-title>Lista con secciones</mat-card-title>
          </div>
          <mat-card-content class="border-t border-border">
            <mat-list>
              <div mat-subheader class="mb-4 font-semibold">Carpetas</div>
              @for(folder of folders; track folder.name) {
              <mat-list-item>
                <mat-icon matListItemIcon>folder</mat-icon>
                <div matListItemTitle class="font-semibold">
                  {{ folder.name }}
                </div>
                <div matListItemLine class="text-sm ">
                  {{ folder.updated | date }}
                </div>
              </mat-list-item>
              }

              <mat-divider></mat-divider>
              <div mat-subheader class="my-4 font-semibold">Notas</div>
              @for(note of notes; track note.name) {
              <mat-list-item>
                <mat-icon matListItemIcon>note</mat-icon>
                <div matListItemTitle class="font-semibold">
                  {{ note.name }}
                </div>
                <div matListItemLine class="text-sm ">
                  {{ note.updated | date }}
                </div>
              </mat-list-item>
              }
            </mat-list>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </mat-card-content>
</mat-card>