<mat-card class="cardWithShadow theme-card">
  <div class="p-6">
    <mat-card-title class="mb-0">Tooltips</mat-card-title>
  </div>
  <mat-card-content class="border-t border-border">
    <div class="grid grid-cols-12 gap-6">
      <div class="col-span-12 sm:col-span-6 lg:col-span-4">
        <mat-card class="border! border-border! shadow-none mb-0!">
          <div class="p-4">
            <mat-card-title>Básico</mat-card-title>
          </div>
          <mat-card-content class="border-t border-border">
            <button mat-flat-button color="primary" matTooltip="Información sobre la acción">
              Botón
            </button>
          </mat-card-content>
        </mat-card>
      </div>
      <div class="col-span-12 sm:col-span-6 lg:col-span-4">
        <mat-card class="border! border-border! shadow-none mb-0!">
          <div class="p-4">
            <mat-card-title>Mayúsculas</mat-card-title>
          </div>
          <mat-card-content class="border-t border-border">
            <button mat-flat-button color="primary" matTooltip="Información sobre la acción" matTooltipClass="text-uppercase">
              Botón
            </button>
          </mat-card-content>
        </mat-card>
      </div>
      <div class="col-span-12 lg:col-span-4 sm:col-span-6">
        <mat-card class="border! border-border! shadow-none mb-0!">
          <div class="p-4">
            <mat-card-title>Deshabilitado al hacer clic</mat-card-title>
          </div>
          <mat-card-content class="border-t border-border">
            <button mat-flat-button color="primary" matTooltip="Información sobre la acción"
              [matTooltipDisabled]="disabled.value" class="me-2">
              Acción
            </button>

            <mat-checkbox [formControl]="disabled" class="example-disabled-checkbox">
              Tooltip deshabilitado
            </mat-checkbox>
          </mat-card-content>
        </mat-card>
      </div>

      <div class="col-span-12 lg:col-span-6">
        <mat-card class="border! border-border! shadow-none mb-0!">
          <div class="p-4">
            <mat-card-title>Posición</mat-card-title>
          </div>
          <mat-card-content class="border-t border-border flex! md:flex-nowrap flex-wrap gap-2">
            <button mat-flat-button color="primary" #tooltip="matTooltip" matTooltip="Información sobre la acción"
              matTooltipPosition="below" matTooltipHideDelay="100000">
              Abajo
            </button>
            <button mat-flat-button color="accent" #tooltip="matTooltip" matTooltip="Información sobre la acción"
              matTooltipPosition="above" matTooltipHideDelay="100000">
              Arriba
            </button>
            <button mat-flat-button color="warn" #tooltip="matTooltip" matTooltip="Información sobre la acción"
              matTooltipPosition="left" matTooltipHideDelay="100000">
              Izquierda
            </button>
            <button mat-flat-button color="primary" #tooltip="matTooltip" matTooltip="Información sobre la acción"
              matTooltipPosition="right" matTooltipHideDelay="100000">
              Derecha
            </button>
          </mat-card-content>
        </mat-card>
      </div>

      <div class="col-span-12 lg:col-span-6">
        <mat-card class="border! border-border! shadow-none mb-0!">
          <div class="p-4">
            <mat-card-title>Mostrar y Ocultar</mat-card-title>
          </div>
          <mat-card-content class="border-t border-border">
            <div class="grid grid-cols-12 gap-6">
              <div class="col-span-12 sm:col-span-4">
                <mat-form-field class="w-full" appearance="outline">
                  <mat-label>Retraso al mostrar</mat-label>
                  <input matInput type="number" [formControl]="showDelay" />
                  <mat-hint>milisegundos</mat-hint>
                </mat-form-field>
              </div>
              <div class="col-span-12 sm:col-span-4">
                <mat-form-field class="w-full" appearance="outline">
                  <mat-label>Retraso al ocultar</mat-label>
                  <input matInput type="number" [formControl]="hideDelay2" />
                  <mat-hint>milisegundos</mat-hint>
                </mat-form-field>
              </div>
              <div class="col-span-12 sm:col-span-4">
                <button mat-flat-button color="primary" matTooltip="Información sobre la acción"
                  [matTooltipShowDelay]="showDelay.value" [matTooltipHideDelay]="hideDelay2.value">
                  Acción
                </button>
              </div>
            </div>
          </mat-card-content>
        </mat-card>
      </div>

      <div class="col-span-12 lg:col-span-4 sm:col-span-6">
        <mat-card class="border! border-border! shadow-none mb-0!">
          <div class="p-4">
            <mat-card-title>Cambiar mensaje</mat-card-title>
          </div>
          <mat-card-content class="border-t border-border">
            <mat-form-field class="w-full" appearance="outline">
              <mat-label>Mensaje del tooltip</mat-label>
              <input matInput [formControl]="message" />
            </mat-form-field>

            <button mat-flat-button color="primary" [matTooltip]="message.value || ''"
              aria-label="Botón que muestra un tooltip con un mensaje personalizado">
              Acción
            </button>
          </mat-card-content>
        </mat-card>
      </div>

    </div>
  </mat-card-content>
</mat-card>