<mat-card class="cardWithShadow theme-card">
  <div class="p-6 flex">
    <mat-card-title class="mb-0">Insignias</mat-card-title>
  </div>
  <mat-card-content class="border-t border-border pt-6">
    <mat-card class="border! border-border! shadow-none">
      <mat-card-content>
        <div matBadge="4" matBadgeOverlap="false" class="inline">Texto con una insignia</div>
      </mat-card-content>
    </mat-card>

    <mat-card class="border! border-border! shadow-none">
      <mat-card-content>
        <div matBadge="1" matBadgeSize="small" class="inline ">Texto con insignia pequeña</div><br /><br />
        <div matBadge="1" matBadgeSize="large" class="inline">Texto con insignia grande</div>
      </mat-card-content>
    </mat-card>

    <mat-card class="border! border-border! shadow-none">
      <mat-card-content>
        <p class="font-medium text-muted">
          Botón con insignia a la izquierda
          <button mat-flat-button color="primary" matBadge="8" matBadgePosition="before" matBadgeColor="accent">
            Acción
          </button>
        </p>
      </mat-card-content>
    </mat-card>

    <mat-card class="border! border-border! shadow-none">
      <mat-card-content>
        <p class="font-medium text-muted">
          Icono con insignia
          <mat-icon matBadge="15" matBadgeColor="warn">home</mat-icon>
        </p>
      </mat-card-content>
    </mat-card>

    <mat-card class="border! border-border! shadow-none">
      <mat-card-content>
        <p>
          Botón alterna visibilidad de insignia
          <button mat-flat-button color="primary" matBadge="7" [matBadgeHidden]="hidden"
            (click)="toggleBadgeVisibility()">
            Ocultar
          </button>
        </p>
      </mat-card-content>
    </mat-card>
  </mat-card-content>
</mat-card>