<mat-card class="cardWithShadow theme-card">
  <div class="p-6">
    <mat-card-title class="mb-0">Menú</mat-card-title>
  </div>
  <mat-card-content class="border-t border-border">
    <div class="grid grid-cols-12 gap-6">
      <div class="col-span-12 sm:col-span-6 lg:col-span-4">
        <mat-card class="border! border-border! shadow-none mb-0!">
          <div class="p-4">
            <mat-card-title>Básico</mat-card-title>
          </div>
          <mat-card-content class="border-t border-border">
            <button mat-flat-button color="primary" class="mt-2" [matMenuTriggerFor]="menu">
              Menú
            </button>
            <mat-menu #menu="matMenu" class="cardWithShadow">
              <button mat-menu-item>Elemento 1</button>
              <button mat-menu-item>Elemento 2</button>
            </mat-menu>
          </mat-card-content>
        </mat-card>
      </div>
      <div class="col-span-12 sm:col-span-6 lg:col-span-4">
        <mat-card class="border! border-border! shadow-none mb-0!">
          <div class="p-4">
            <mat-card-title>con Iconos</mat-card-title>
          </div>
          <mat-card-content class="border-t border-border">
            <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Botón de ejemplo con menú">
              <mat-icon>
                <i-tabler name="dots"></i-tabler>
              </mat-icon>
            </button>
            <mat-menu #menu="matMenu" class="cardWithShadow">
              <button mat-menu-item>
                <mat-icon>dialpad</mat-icon>
                <span>Remarcar</span>
              </button>
              <button mat-menu-item disabled>
                <mat-icon>voicemail</mat-icon>
                <span>Revisar buzón de voz</span>
              </button>
              <button mat-menu-item>
                <mat-icon>notifications_off</mat-icon>
                <span>Deshabilitar alertas</span>
              </button>
            </mat-menu>
          </mat-card-content>
        </mat-card>
      </div>
      <div class="col-span-12 sm:col-span-6 lg:col-span-4">
        <mat-card class="border! border-border! shadow-none mb-0!">
          <div class="p-4">
            <mat-card-title>Menú Anidado</mat-card-title>
          </div>
          <mat-card-content class="border-t border-border">
            <button mat-flat-button color="primary" [matMenuTriggerFor]="animals" class="mt-2">
              Índice de animales
            </button>
            <mat-menu class="cardWithShadow" #animals="matMenu">
              <button mat-menu-item [matMenuTriggerFor]="vertebrates">
                Vertebrados
              </button>
              <button mat-menu-item [matMenuTriggerFor]="invertebrates">
                Invertebrados
              </button>
            </mat-menu>

            <mat-menu class="cardWithShadow" #vertebrates="matMenu">
              <button mat-menu-item [matMenuTriggerFor]="fish">Peces</button>
              <button mat-menu-item [matMenuTriggerFor]="amphibians">
                Anfibios
              </button>
              <button mat-menu-item [matMenuTriggerFor]="reptiles">
                Reptiles
              </button>
              <button mat-menu-item>Aves</button>
              <button mat-menu-item>Mamíferos</button>
            </mat-menu>

            <mat-menu class="cardWithShadow" #invertebrates="matMenu">
              <button mat-menu-item>Insectos</button>
              <button mat-menu-item>Moluscos</button>
              <button mat-menu-item>Crustáceos</button>
              <button mat-menu-item>Corales</button>
              <button mat-menu-item>Arácnidos</button>
              <button mat-menu-item>Gusanos de terciopelo</button>
              <button mat-menu-item>Cangrejos herradura</button>
            </mat-menu>

            <mat-menu class="cardWithShadow" #fish="matMenu">
              <button mat-menu-item>Baikal oilfish</button>
              <button mat-menu-item>Bala shark</button>
              <button mat-menu-item>Ballan wrasse</button>
              <button mat-menu-item>Bamboo shark</button>
              <button mat-menu-item>Banded killifish</button>
            </mat-menu>

            <mat-menu class="cardWithShadow" #amphibians="matMenu">
              <button mat-menu-item>Sonoran desert toad</button>
              <button mat-menu-item>Western toad</button>
              <button mat-menu-item>Arroyo toad</button>
              <button mat-menu-item>Yosemite toad</button>
            </mat-menu>

            <mat-menu class="cardWithShadow" #reptiles="matMenu">
              <button mat-menu-item>Banded Day Gecko</button>
              <button mat-menu-item>Banded Gila Monster</button>
              <button mat-menu-item>Black Tree Monitor</button>
              <button mat-menu-item>Blue Spiny Lizard</button>
              <button mat-menu-item disabled>Velociraptor</button>
            </mat-menu>
          </mat-card-content>
        </mat-card>
      </div>

      <div class="col-span-12">
        <mat-card class="border! border-border! shadow-none mb-0!">
          <div class="p-4">
            <mat-card-title>Posiciones</mat-card-title>
          </div>
          <mat-card-content class="border-t border-border">
            <div class="grid grid-cols-12 gap-y-4 gap-6">
              <div class="col-span-12 sm:col-span-3">
                <button mat-flat-button color="primary" class="w-full" [matMenuTriggerFor]="aboveMenu">
                  Arriba
                </button>
                <mat-menu class="cardWithShadow" #aboveMenu="matMenu" yPosition="above">
                  <button mat-menu-item>Elemento 1</button>
                  <button mat-menu-item>Elemento 2</button>
                </mat-menu>
              </div>
              <div class="col-span-12 sm:col-span-3">
                <button mat-flat-button color="accent" class="w-full" [matMenuTriggerFor]="belowMenu">
                  Abajo
                </button>
                <mat-menu class="cardWithShadow" #belowMenu="matMenu" yPosition="below">
                  <button mat-menu-item>Elemento 1</button>
                  <button mat-menu-item>Elemento 2</button>
                </mat-menu>
              </div>
              <div class="col-span-12 sm:col-span-3">
                <button mat-flat-button color="warn" class="w-full" [matMenuTriggerFor]="beforeMenu">
                  Antes
                </button>
                <mat-menu class="cardWithShadow" #beforeMenu="matMenu" xPosition="before">
                  <button mat-menu-item>Elemento 1</button>
                  <button mat-menu-item>Elemento 2</button>
                </mat-menu>
              </div>
              <div class="col-span-12 sm:col-span-3">
                <button mat-flat-button color="primary" class="w-full" [matMenuTriggerFor]="afterMenu">
                  Después
                </button>
                <mat-menu class="cardWithShadow" #afterMenu="matMenu" xPosition="after">
                  <button mat-menu-item>Elemento 1</button>
                  <button mat-menu-item>Elemento 2</button>
                </mat-menu>
              </div>
            </div>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </mat-card-content>
</mat-card>